*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    min-height: 100vh;
    background: #c9ced3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(249deg, #13c2e9, #c471ed, #f64f59);
    background-size: 600% 600%;
    animation: animateBackground 30s ease infinite;
    -webkit-animation: animateBackground 30s ease infinite;
}

@keyframes animateBackground{
    0%{
        background-position: 0% 67%;
    }
    50%{
        background-position: 100% 34%;
    }
    100%{
        background-position: 0% 67%;
    }

}

.container{
    height: 450px;
    width: 350px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
}

.container .img-container{
    width: 270px;
    height: 270px;
    position: relative;
    top: -50px;
    left: 40px;
}

.container .img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.3);
}

.container h2{
    font-size: 25px;
    margin: 0;
    text-align: center;
}

.container h3{
    font-size: 20px;
    text-align: center;
    margin: 5px 0 0;
    font-weight: 400;
}

.container .progressBar{
    background: #e2e2e2;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
    margin: 40px 20px;
    width: 90%;
    height: 5px;
}

.container .progressBar .progress{
    background: #2c2c2c;
    border-radius: 5px;
    width: 0%;
    height: 100%;
    transition: step-start 0.1s linear;
}

.container .progressBar .duracion{
    position: relative;
    top: -25px;
    display: flex;
    justify-content: space-between;
}

.container .controles{
    position: relative;
    top: -15px;
    left: 95px;
    width: 200px;
}

.container .controles ion-icon{
    font-size: 30px;
    color: #010101;
    margin-right: 30px;
    cursor: pointer;
    user-select: none;
}

.cuadrado{
    position: absolute;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    animation: animacion 5s linear infinite;
    animation-delay: calc( 1s * var(--i) );
}

.cuadrado:nth-child(1){
    width: 90px;
    height: 150px;
    top: 80px;
    left: -70px;
    z-index: 1;
}

.cuadrado:nth-child(2){
    width: 150px;
    height: 80px;
    bottom: 167px;
    right: -120px;
    z-index: 1;
}

.cuadrado:nth-child(3){
    width: 100px;
    height: 100px;
    bottom: -40px;
    right: 50%;
    z-index: -31;
}

@keyframes animacion {
    0%, 100%{
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
}
    50%{
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
}
}